html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fff9e2;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.mat-form-field {
  &.mat-form-field-w-100 {
    width: 100%;
    display: block;
  }
}
