<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-md-9 col-lg-6">
      <form [formGroup]="taskForm" (ngSubmit)="createTask(this.taskForm)">
        <div>
          <mat-form-field class="mat-form-field-w-100">
            <mat-label>Заголовок</mat-label>
            <input matInput formControlName="title" required>
            <mat-error>Значение не должно быть пустым</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="mat-form-field-w-100">
            <mat-label>Описание</mat-label>
            <textarea rows="10" matInput formControlName="description" required></textarea>
            <mat-error>Значение не должно быть пустым</mat-error>
          </mat-form-field>
        </div>
        <button type="submit" mat-raised-button color="accent">Добавить задачу</button>
      </form>
    </div>
  </div>
</div>

<div class="container mt-2">
  <div class="row">
    <div class="col-md-6">
      <h2>В процессе</h2>
      <app-task-card
        class="mt-2"
        *ngFor="let inProgressTask of inProgressTaskList"
        [task]="inProgressTask"
        (changeTaskStatusEvent)="changeTaskStatus($event[0])">
      </app-task-card>
    </div>
    <div class="col-md-6">
      <h2>Законченные</h2>
      <app-task-card
        class="mt-2"
        *ngFor="let doneTask of doneTaskList"
        [task]="doneTask"
        (changeTaskStatusEvent)="changeTaskStatus($event[0])">
      </app-task-card>
    </div>
  </div>
</div>

